@import './common.scss';

// app header
.app-header {
  background-color: $bg_cm;
  height: 52px;
  line-height: 52px;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  .app-trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .app-right {
    margin-right: 20px;
  }
}

.app-content {
  padding: 6px;
  height: 100%;
  .spin-wrap {
    height: 100%;
  }
  // 修改spin居中
  .ant-spin-nested-loading > div > .ant-spin {
    max-height: 100%;
  }
}

.footer {
  text-align: center;
}
