.editbtn {
  border-color: #1890ff;
  background-color: #ecf5ff;
}

.editbtn:hover {
  background-color: #b3d8ff;
}

.detailbtn {
  border-color: #fdf6ec;
  background-color: #f5dab1;
}

.detailbtn:hover {
  background-color: #f5dab1;
}

.abstractbtn {
  background-color: #f0f9eb;
  border-color: #67c23a;
}

.abstractbtn:hover {
  background-color: #c2e7b0;
  border-color: #67c23a;
}

.schedulebtn {
  background-color: #fdf6ec;
  border-color: #e96900;
}

.schedulebtn:hover {
  background-color: #f5dab1;
  border-color: #e96900;
}

.deletebtn {
  background-color: #fef0f0;
}

.deletebtn:hover {
  background-color: #fbc4c4;
}
